/* Remove some ugly default image styling */
.reveal section img {
    background:none; 
    border:none; 
    box-shadow:none; 
}

blockquote {
    font-size: large;
}

blockquote footer {
    font-size: small;
    text-align: right;
}

figcaption {
    font-size: medium;
}